# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VR Cybersickness Research Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Aditya Oka\Documents\GitHub\VR Cybersickness Research Project\.idea\.idea.VR Cybersickness Research Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
